//
   Created with JetBrains WebStorm.
   User: root
   Date: 13. 5. 23
   Time: 오후 11:15
   To change this template use File | Settings | File Templates.

//
   Created with JetBrains WebStorm.
   User: root
   Date: 13. 5. 23
   Time: 오후 10:11
   To change this template use File | Settings | File Templates.


extends menu_layout

block content
    script(type='text/javascript')
        function addRow(tableid,date,msg,user){
            var table = document.getElementById(tableid);
            var rowlen = table.rows.length;
            var row = table.insertRow(rowlen);
            row.insertCell(0).innerHTML = date;
            row.insertCell(1).innerHTML = msg;
            row.insertCell(2).innerHTML = user;

        }
        function generate(count){
            var i;
            var dateArray = new Array(#{dateArray});
            var msgArray = new Array(#{msgArray});
            var useridArray = new Array(#{useridArray});
            for(i=0; i<count; i++){
                 addRow('table',dateArray[i],msgArray[i],useridArray[i]);
            }
        }

    h1= title
    ul(id='sub',class='sf-menu')
        li
            a(href='/web/datatree/user') User Collection
        li
            a(href='/web/datatree/location') Location Collection
        li
            a(href='/web/datatree/rank') Rank Conllection
        li
            a(href='/web/datatree/push') Push Collection

    table(id='table')
        tr
            th Date
            th Message
            th User ID
    script
        generate('#{countValue}');