//
   Created with JetBrains WebStorm.
   User: root
   Date: 13. 5. 23
   Time: 오후 11:14
   To change this template use File | Settings | File Templates.



//
   Created with JetBrains WebStorm.
   User: root
   Date: 13. 5. 23
   Time: 오후 10:11
   To change this template use File | Settings | File Templates.


extends menu_layout

block content
    script(type='text/javascript')
        function addRow(tableid,id,mail,device){
            var table = document.getElementById(tableid);
            var rowlen = table.rows.length;
            var row = table.insertRow(rowlen);
            row.insertCell(0).innerHTML = id;
            row.insertCell(1).innerHTML = mail;
            row.insertCell(2).innerHTML = device;

        }
        function generate(count){
            var i;
            var usedfunction = new Array(#{usedfunction});
            var date = new Array(#{date});
            var user_id = new Array(#{user_id});
            for(i=0; i<count; i++){
                 addRow('table',usedfunction[i],date[i],user_id[i]);
            }
        }

    br
    h1(align="center")=title
    br
    div.aside
    ul(id='sub',class='sf-menu')
        li
            a(href='/web/datatree/user') User Collection
        li
            a(href='/web/datatree/location') Location Collection
        li
            a(href='/web/datatree/rank') Rank Conllection
        li
            a(href='/web/datatree/push') Push Collection

    table(id='table')
        tr
            th Used Function
            th Date
            th User ID
    script
        generate('#{countValue}');