//
   Created with JetBrains WebStorm.
   User: root
   Date: 13. 5. 23
   Time: 오후 11:15
   To change this template use File | Settings | File Templates.

//
   Created with JetBrains WebStorm.
   User: root
   Date: 13. 5. 23
   Time: 오후 10:11
   To change this template use File | Settings | File Templates.


extends menu_layout

block content
    script(type='text/javascript')
        function addRow(tableid,id,mail,address,store,pnum,memo){
            var table = document.getElementById(tableid);
            var rowlen = table.rows.length;
            var row = table.insertRow(rowlen);
            row.insertCell(0).innerHTML = id;
            row.insertCell(1).innerHTML = mail;
            row.insertCell(2).innerHTML = address;
            row.insertCell(3).innerHTML = store;
            row.insertCell(4).innerHTML = pnum;
            row.insertCell(5).innerHTML = memo;

        }
        function generate(count){
            var i;
            var latArray = new Array(#{latArray});
            var lngArray = new Array(#{lngArray});
            var addressArray = new Array(#{addressArray});
            var storeArray = new Array(#{storeArray});
            var pnumArray = new Array(#{pnumArray});
            var memoArray = new Array(#{memoArray});
            for(i=0; i<count; i++){
                 addRow('table',latArray[i],lngArray[i],addressArray[i],storeArray[i],pnumArray[i],memoArray[i]);
            }
        }

    br
    h1(align="center")=title
    br
    ul(id='sub',class='sf-menu')
        li
            a(href='/web/datatree/user') User Collection
        li
            a(href='/web/datatree/location') Location Collection
        li
            a(href='/web/datatree/rank') Rank Conllection
        li
            a(href='/web/datatree/push') Push Collection

    table(id='table')
        tr
            th latitude
            th longitude
            th Address
            th Store
            th Phone
            th memo
    script
        generate('#{countValue}');