extends menu_layout

block content

    script(type='text/javascript', src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
    script(type='text/javascript', src="http://maps.google.com/maps/api/js?sensor=false")
    script(type='text/javascript')
        $(document).ready(function() {
            function addRow(tableid, lat, lng, address, store, phonenumber, memo) {
                var table = document.getElementById(tableid);
                var rowlen = table.rows.length;
                var row = table.insertRow(rowlen);
                var chbx = document.createElement("input");
                var chchAll = document.form.checkAll;

                chbx.setAttribute("type", "checkbox");
                chbx.setAttribute("id", "check");
                chbx.setAttribute("name", "check");

                row.insertCell(0).innerHTML = lat;
                row.insertCell(1).innerHTML = lng;
                row.insertCell(2).innerHTML = address;
                row.insertCell(3).innerHTML = store;
                row.insertCell(4).innerHTML = phonenumber;
                row.insertCell(5).innerHTML = memo;
                row.insertCell(6).appendChild(chbx);

                chchAll.onclick = function() {
                    var chch = document.form.check;

                    if(checkAll.checked == true) {
                        for(var i = 0; i < chch.length; i++) {
                            chch[i].checked = true;
                            mark[i].setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
                        }
                    }
                    else {
                        for(var i = 0; i < chch.length; i++) {
                            chch[i].checked = false;
                            mark[i].setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                        }
                    }
                }

                chbx.onclick = function() {
                    var chch = document.form.check;

                    for(var i = 0; i < chch.length; i++) {
                        if(chch[i].checked == true) {
                            mark[i].setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
                        }
                        else {
                            mark[i].setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                        }
                    }
                }
            }

            var lat = new Array(#{lat});
            var lng = new Array(#{lng});
            var address = new Array(#{address});
            var store = new Array(#{store});
            var phonenumber = new Array(#{phonenumber});
            var memo = new Array(#{memo});

            var mark = new Array();
            var ll = new Array();

            var latlng = new google.maps.LatLng(37.5640, 126.9751);
            var myOptions = {
                    zoom : 13,
                    center : latlng,
                    mapTypeId : google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({
                    position : latlng,
                    map : map
            });
            marker.setMap(null);

            for(var i = 0; i < lat.length; i++) {
                addRow('table', lat[i], lng[i], address[i], store[i], phonenumber[i], memo[i]);
                ll[i] = new google.maps.LatLng(lat[i], lng[i]);
                mark[i] = new google.maps.Marker({
                    position : ll[i],
                    map : map
                });
                mark[i].setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
            }

            var geocoder = new google.maps.Geocoder();

            google.maps.event.addListener(map, 'click', function(event) {
                   var location = event.latLng;
                   geocoder.geocode({
                           'latLng' : location
                   },
                   function(results, status) {
                        if(status == google.maps.GeocoderStatus.OK) {
                            var lat = document.getElementById('lat');
                            var lng = document.getElementById('lng');
                            var address = document.getElementById('address');

                            address.value = results[0].formatted_address;
                            lat.value = results[0].geometry.location.lat();
                            lng.value = results[0].geometry.location.lng();
                        }
                        else {
                            alert("Geocoder failed due to :" + status);
                        }
            });
            if(!marker) {
                   marker = new google.maps.Marker({
                       position : location,
                       map : map
                       });
                   marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
            }
            else {
                   marker.setMap(null);
                   marker = new google.maps.Marker({
                       position : location,
                       map : map
                   });
                   marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
            }
            map.setCenter(location);
            });
        });

        function addpoi() {
                var form = document.form;
                form.action = "/web/addpoi";
                form.method = "post";
                form.submit();
        }

        function removepoi(chbox) {
            var form = document.createElement("form");
            var checkedbox = new Array();
            var tlat = new Array(#{lat});

            for(var i = 0, j = 0; i < chbox.length; i++) {
                if(chbox[i].checked == true) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", "remove");
                    hiddenField.setAttribute("value", tlat[i]);
                    form.appendChild(hiddenField);
                }
            }

            form.action = "/web/removepoi";
            form.method = "post";
            form.submit();
        }

    form(name="form")
        br
        br
        table(border="1")
            tr
                td(colspan="2")
                    div(id="map_canvas", style="width: 945px; height: 380px;")
            tr
                th(width="100") 위도
                td
                    input(id="lat", name="lat", value="", size="131")
            tr
                th 경도
                td
                    input(id="lng", name="lng", value="", size="131")
            tr
                th 주소
                td
                    input(id="address", name="address", value="", size="131")
            tr
                th 이름
                td
                    input(id="store", name="store", value="", size="131")
            tr
                th 전화번호
                td
                    input(id="phonenumber", name="phonenumber", value="", size="131")
            tr
                th 메모
                td
                    input(id="memo", name="memo", value="", size="131")

        input(type="button", name="add", value="추가", style=" height:50px", onClick="addpoi()").myButton
        input(type="button", name="remove", value="삭제", style=" height:50px", onClick="removepoi(this.form.check)").myButton
        br
        br
        table(id ="table", width="600", border="1")
            tr
                th(align="center") 위도
                th(align="center") 경도
                th(align="center") 주소
                th(align="center") 이름
                th(align="center") 전화번호
                th(align="center") 메모
                th
                    input(type="checkbox", name="checkAll", value="checkAll", id="checkAll")