extends menu_layout

block content

    script(type='text/javascript', src="/js/swfobject.js")
    script(type='text/javascript', src="/js/rainOpenSWFChart.js")
    script(type='text/javascript')
        // 날짜구하기
        function getdate(i)
        {
            var settingDate = new Date();
            settingDate.setDate(settingDate.getDate()-6+i); //i일 전

            var y = settingDate.getFullYear();
            var m = settingDate.getMonth() + 1;
            var d = settingDate.getDate();
            if(m < 10)    { m = "0" + m; }
            if(d < 10)    { d = "0" + d; }

            var resultDate = y + "-" + m + "-" + d;
            return resultDate;
        }

        // 막대 그래프
        function bar_graph() {
            var x_axis = new Array();
            var max = #{r1_p};                                          // y의 최대 값을 지정

            var total_bar = new bar_outline( 75, '0x000000', '0x000000');
            var one_bar = new bar_outline( 75, '0x3B5998', '0x3B5998');
            var two_bar = new bar_outline( 75, '0x00ACEE', '0x00ACEE');
            var three_bar = new bar_outline( 75, '0x533990', '0x533990');

            total_bar.key( 'Total', 10 );
            one_bar.key('#{r1}', 10 );
            two_bar.key('#{r2}', 10 );
            three_bar.key( '#{r3}', 10 );

            //for(var i=0; i<10; i++ ) {
            //total_bar.data.push(10);
            one_bar.data.push(#{r1_p});
            two_bar.data.push(#{r2_p});
            three_bar.data.push(#{r3_p});
            x_axis[0] = "function1";
            //x_axis[1] = "function2";
            //x_axis[2] = "function3";
            //}
            var g= new graph(660, 250);							// 그래프 크기

            g.set_bg_colour( '#FFFFFF' );						// 배경색 지정
            g.set_inner_background( '#FFFFFF' );				// 안쪽 배경색 지정

            g.title( '막대그래프', '{font-size: 12px; color: 0x3B5998; ' +		// 타이틀 지정
            'margin: 10px; background-color: #ffffff; padding: 5px 15px 5px 15px;}' );

            g.data_sets.push(total_bar);
            g.data_sets.push(one_bar);
            g.data_sets.push(two_bar);
            g.data_sets.push(three_bar);

            g.x_axis_colour( '#909090', '#FFFFFF' );			// 가로 줄 설정(맨 밑 색, 그 위에 색)
            g.y_axis_colour( '#909090', '#ADB5C7' );			// 세로 줄 설정(맨 밑 색, 그 위의 색)

            g.set_x_labels( x_axis );						// x 표시 글
            g.set_x_label_style( 12, '0x000000', 0, 1 );		// 글의 스타일(폰트 크기, 색, 기울임, 표시 주기)

            g.set_y_max( max );									// y 표시의 최대값
            g.y_label_steps( 5 );								// y 표시의 칸 수
            g.set_y_legend( '오픈 플레쉬 차트', 12, '#736AFF' );
            g.render( 'bar_graph' );
        }

        // 꺽은선 그래프
        function line_graph() {
            var d_cnt = new Array(#{d_cnt});
            var tDatePageCount = new Array();
            var max=0;
            var date = new Array();

            for(var i=0;i<7;i++) {
                if(max<d_cnt[i]){
                    max=d_cnt[i];
                }
                tDatePageCount[i] = d_cnt[i];
            }
            max=parseInt(max/10);

            max*=10;
            max+=10;

            for(var i=0;i<7;i++) {
                date[i] = getdate(i);
            }

            var g= new graph(660, 300);						// 그래프 크기

            g.set_bg_colour( '#FFFFFF' );						// 배경색 지정
            g.set_inner_background( '#FFFFFF' );				// 안쪽 배경색 지정

            g.title( '꺽은선 그래프', '{font-size: 12px; color: 0x533990; ' +		// 타이틀 지정
            'margin: 10px; background-color: #ffffff; padding: 5px 15px 5px 15px;}' );

            g.set_data( tDatePageCount );								// 데이터 넣기

            g.line_hollow( 2, 4, '0x000000', 'PageView', 10 );		// 선 그리기(선 두께, 점의 크기, 색, 위에 표시될 글, 글의 폰트 크기)

            g.x_axis_colour( '#909090', '#FFFFFF' );			// 가로 줄 설정(맨 밑 색, 그 위에 색)
            g.y_axis_colour( '#909090', '#ADB5C7' );			// 세로 줄 설정(맨 밑 색, 그 위의 색)

            g.set_x_labels( date );	// x 표시 글
            g.set_x_label_style( 9, '0x000000', 2, 1 );		// 글의 스타일(폰트 크기, 색, 기울임, 표시 주기)

            g.set_y_max( max );									// y 표시의 최대값
            g.y_label_steps( 5 );								// y 표시의 칸 수
            g.set_y_legend( '오픈 플레쉬 차트', 12, '#736AFF' );
            g.render( 'line_graph' );
        }

        // 원그래프
        function pie_graph() {
            var data = [];
            var links = [];

            data.push(#{r1_p});
            data.push(#{r2_p});
            data.push(#{r3_p});

            var g = new graph(600, 400);                        // 그래프 크기
            g.set_bg_colour( '#FFFFFF' );						// 배경색 지정

            g.pie(60, '#FFFFFF', '{font-size: 12px; color: #404040; }', false, 1);
            g.pie_values( data, ['#{r1}','#{r2}','#{r3}']);
            g.pie_slice_colours( ['#FFA1C4', '#C188EA', '#9DC7F2'] );
            g.set_tool_tip( '#val#&' );

            g.title( '원 그래프', '{font-size: 18px; color: #d01f3c}' );

            g.render( 'pie_graph' );
        }

        function visibleBar(){
            if(document.getElementById('bar_graph').style.display=="none")
                document.getElementById('bar_graph').style.display="block";
            else if(document.getElementById('bar_graph').style.display=="block")
                document.getElementById('bar_graph').style.display="none";
        }

        function visibleLine(){
            if(document.getElementById('line_graph').style.display=="none")
                document.getElementById('line_graph').style.display="block";
            else if(document.getElementById('line_graph').style.display=="block")
                document.getElementById('line_graph').style.display="none";
        }

        function visiblePie(){
            if(document.getElementById('pie_graph').style.display=="none")
                document.getElementById('pie_graph').style.display="block";
            else if(document.getElementById('pie_graph').style.display=="block")
                document.getElementById('pie_graph').style.display="none";
        }


    h1= title


    table(id='table', width='600')
        tr
            th(align="center") Used Function
            th(align="center") Count
        tr
            td(align="center") #{r1}
            td(align="center") #{r1_p}
        tr
            td(align="center") #{r2}
            td(align="center") #{r2_p}
        tr
            td(align="center") #{r3}
            td(align="center") #{r3_p}

    ul(id='ranknav',class='sf-menu')
        li
            a(href='javascript:visibleBar()') 막대그래프
        li
            a(href='javascript:visibleLine()') 꺽은선그래프
        li
            a(href='javascript:visiblePie()') 원그래프


    div#bar_graph(style="display:none")
    div#line_graph(style="display:none")
    div#pie_graph(style="display:none")
    script(type='text/javascript')
        bar_graph(); line_graph(); pie_graph();